body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/bg.jpg) no-repeat;
    background-size: cover;
}

#header {
    background-color: transparent;
    padding: 20px;
}

#header #logo {
    height: auto;
    top: 25px;
    left: 25px;
}

#formMcUrl {
    position: absolute;
    top: 35%;
    width: 30%;
    text-align: center;
    margin-left: 35%;
    height: 250px;
    box-shadow: 0px 0px 15px 5px #212121;
    background-color: rgba(255, 255, 255, 1);
}

#formMcUrl input[type="text"] {
    min-width: 500px;
    padding: 5px 10px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

#formMcUrl input[type="submit"] {
    display: block;
    border: 1px solid;
    border-radius: 1%;
    background-color: #3d5a80;
    color: #ffffff;
    margin: auto;
    border: none;
    margin-top: 30px;
    font-size: 25px;
    padding: 7px 30px;
    font-family: "Ubuntu", "Helvetica", sans-serif;
}

#formMcUrl input[type="submit"]:hover {
   background-color: #2d4360;
}

#footer {
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
