{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'css/accueil.css' filter = 'cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('erreur') %}
        <p>Message flash :
            {{ message }}</p>
    {% endfor %}

    <form id="formMcUrl" name="formMcUrl" method="POST" action="{{ path('seoecho_validFormMcUrl') }}">
        <input type="text" placeholder="Mots-clés de la recherche" name="req" required="required"/>
        <input type="text" placeholder="URL de votre page" name="url" required="required"/>
        <input type="submit" value="Lancer l'étude"/>
    </form>

    <div id="footer">
        <p>un service de <a href="http://com-et-net.com" target="_blank">Com&Net</a></p>
    </div>
{% endblock %}
